@font-face {
  font-family: akzidenzlight;
  src: url(fonts/HelveticaNeueLTStd-Th.otf);
}

@font-face {
  font-family: akzidenzmedium;
  src: url(fonts/AkzidenzGroteskBQ-Medium.otf);
}

@font-face {
  font-family: akzidenzbold;
  src: url(fonts/AkzidenzGroteskBQ-Bold.otf);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: akzidenzlight;
  font-size: 15px;
  /* background-color: rgb(255, 255, 246); */
  /* background-color: rgb(226, 255, 182); */
  /* line-height: 15px; */
}

.hidden {
  display: none;
  animation-name: example;
  animation-duration: 6s;
}

.name {
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
}

#header {
  height: 100%;
  width: 300px;
  position: fixed;
  padding-left: 20px;
  padding-top: 10px;

  /* background-color: violet; */
}

#page {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 10px;
  text-align: right;
  margin-left: 380px;
  /* 
  padding: 10px;
  padding-left: 20px; */
}

#menu {
  height: auto;
  cursor: pointer;
  bottom: 0px;
  position: fixed;
  padding: 20px;
  width: 340px;

  /* background-color: greenyellow; */
}

#filter {
  height: auto;
  margin-bottom: 10px;
}

#illBtn {
}

#vidBtn {
}

#typBtn {
}

#phoBtn {
}

.illFilter {
  color: rgb(87, 96, 255);
}

.typFilter {
  color: rgb(181, 186, 26);
}

.vidFilter {
  color: rgb(171, 85, 76);
}

.phoFilter {
  color: rgb(127, 201, 0);
}

.construction {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

button {
  font-size: 14px;
  font-family: akzidenzlight;
  background-color: black;

  border-style: none;
  border-width: 0.5px;
  padding-top: 5px;
  color: white;

  /* border-radius: 3px; */
  /* padding: 2px;
  padding-left: 4px;
  padding-right: 4px; */
  /* margin-right: 2px;
  margin-bottom: 6px; */
}

button:hover {
  background-color: rgb(244, 244, 244);
  border-color: rgb(0, 0, 0);
}

button:active {
  outline: 0;
}

button:focus {
  outline: 0;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.link:hover {
  /* color: #dddddd; */
  color: grey;
  /* color: #ecd7ff; */
}

img {
  margin-bottom: 6px;
  padding: 0;
}

video {
  margin-bottom: 6px;
  padding: 0;
}

/* p {
  margin: 0;
  padding: 0;
} */

.df {
  color: rgb(255, 255, 202);
  color: rgb(216, 216, 216);
  color: rgb(233, 253, 203);
  color: rgb(225, 223, 255);
  color: rgb(236, 246, 255);
  color: rgb(255, 248, 236);
}

p {
  text-align: left;
}
